export XCURSOR_THEME=Breeze_Snow
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY
# setxkbmap -option caps:super no && killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape' &
# ~/.local/bin/dockToggle
~/.screenlayout/lenovoacer.sh
# xcompmgr -c -C -t-5 -l-5 -r4.2 -o.55 -Ff &
xset r rate 300 50
xset -b
# ~/.fehbg &
# ~/.local/bin/i3cmds/blur-lock &
# pgrep sxhkd || sxhkd &
# light-locker &
unclutter &
# urxvtd -q -f -o
